<div id="dds__msthd-overlay" class="dds__msthd-overlay"></div>
<div class="dds__msthd" data-toggle="dds__msthd">
    <nav class="dds__navbar dds__msthd-navbar-top">
        <div style="max-width: initial!important;" class="dds__msthd-top dds__container dds__no-gutters">
            <div class="dds__row dds__no-gutter">
                <div class="dds__msthd-top-ctnr">
                    <div class="dds__msthd-icon-ctnr dds__msthd-logo"> <a class="dds__icons dds__msthd-dell-icon"
                            href="//www.dell.com" tabindex="0" aria-label="Dell"></a> </div>
                </div>
                <div class="dds__msthd-brand-ctnr dds__d-none dds__d-lg-block"> <span>DELL Technologies</span> </div>
            </div>
        </div>
    </nav>
</div>